*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* **************header************** */
header .navigation-bar {
    display: flex;
    justify-content: space-between;
    background-color: hsl(261, 29%, 12%);
    height: 100px;
    color: white;
}
header nav {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;

}
header nav ul {
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--second-color);
    padding: 0px 40px;
    
}
header .navigation-bar a .logo {
    padding-left: 50px;
    height: 50px;
    width: 150px;
    margin: 20px 0;
    
    /* padding-top: 5px; */
}
/* **************header************** */
.container{
    height: calc(100vh - 100px);
    background: hsl(259, 20%, 18%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.formcontainer {
    padding-top: 30px;
}
.formcontainer form{
    margin: 0 auto ;
    line-height: 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formcontainer .box{
    background-color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 2px;
}
.formcontainer h3{
    text-align: center;
}
.formcontainer button{
    padding: 10px;
    color: white;
    background-color: rgb(104, 30, 82);
    outline: none;
    border: none;
    border-radius: 2px;
}
.formcontainer a{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(10, 126, 0);
    outline: none;
    border: none;
    border-radius: 2px;
    text-decoration: none;
}

/* ************foooter*************** */
footer{
    padding:10px 60px;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: hsl(261, 29%, 12%);
    color: white;
    gap: 20px;
    /* padding: 0 50px; */
}
footer h2{
    color: #ffffff9c;
    margin-bottom: 20Px;
}
footer .meta p{
    padding: 15px 0;
}
footer .meta i{
    padding-right: 20px;
    
}
footer .exp a{
    /* text-decoration: none underline ; */
    color: rgb(228, 220, 220);
    margin: 4px 0;
    display: block;

} 
footer .contact span{
    margin-bottom:5px ;
}
footer .contact i{
    margin-right: 10px;
}
footer .contact div{
    margin: 9px 0;
}
footer .newslatter p{
    margin: 15px 0; 
    
}
footer .newslatter button{
    background-color: transparent;
}
footer .newslatter i{
    color: #6d338a;
}
/* ************foooter*************** */