/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    /* background-image: url('../img/bodybg.jpg'); */
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
}
/* End Global Rules */
/* Start Global Variables */
:root {
    --main-color: black;
    --second-color: white;
}
/* End Global Variables */
/* Start Container */
.navigation-bar{
    background-color: black;
    /* margin-left: auto;
    margin-right: auto;
    width: 170vh;
    min-height: 100vh; */
 }

/* End Container */
/* Start Header */
header .navigation-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.048);
    height: 100px;
}
header nav {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;

}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--second-color);
    padding: 0px 40px;
    
}
.homecontainer a{
    text-decoration: none;
    color: white;
}
header .navigation-bar a .logo {
    padding-left: 50px;
    height: 50px;
    width: 150px;
    margin: 20px 0;
    
    /* padding-top: 5px; */
}
/* End Header */
/* Start Hero section */
.landing .home{
    width: 100%;
    height: 100vh;
    background: hsl(259, 20%, 18%);
    background-size: cover;
    background-repeat: no-repeat;
}
.landing .home .create {
    color: white;
    font-size: 100px;
    font-weight: 500;
    padding-left: 50px;
    /* padding-top: 20px; */
}
.landing .home .own-nft {
    color: white;
    font-size: 50px;
    font-weight: 400;
    padding-left: 50px;
    /* padding-top: 20px; */
}
.landing .home button {
    margin-top: 52px;
    margin-left: 50px;
    padding: 20px 50px;
    border-radius: 10px;
    border: none;
    color: var(--second-color);
    background-color: #6d338a;
}
.homecontainer{
    display: flex;
}
.col{
    width:50%;
}
.col1{
    width: 50%;
}
.col1 img{
    padding-left: 180px;
    height: 450px;
    padding-top: 20px;
}
/* End Hero section */
/* Start Card */
.card{
    background-color: #282c34;
    height: 420px;
    width: 300px;
    border: 1px solid #ffffff22;
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 5px;
    backdrop-filter: blur(7px); 
    transition: .3s;
    margin-top: 5px;
    /* padding: 50px 0; */
}
.card .description{
    margin: 3px 0;
    color: #a89ec9;
}
.card .nftimg{
    width: 280px;
    height: 250px;
    margin: 5px auto;
    display: block;
    border-radius: 5px;
}
.card .price,.card .duration{
    display: flex;
}
.card .duration{
    color: #a89ec9;
}
.card .price{
    justify-content: space-between;
    align-items: center;
    color: #ee83e5;
}
.card .info{
    padding: 0 10pX;
}
hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
    margin: 6px 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.add-buttons a{
    color: white;
    text-decoration: none;
}
.card .name{
    color: #fff;
}
.card:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.card .prc{
    margin-left: 10px;
    font-size: 20px;
}
.card a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: #1c2529;
    padding: 5px 8px;
    border-radius: 10px;
}
.content-body{
    display: flex;
    justify-content: space-between;
    background: hsl(259, 20%, 18%);
    /* background: linear-gradient(90deg, rgba(94,28,122,1) 0%, rgba(11,82,147,1) 100%); */
}
.nft-card-left {
    margin-left: 50px;
}
.nft-card-right {
    margin-right: 50px;
}
.titre{
    color: #fff;
    margin-left: 50px;
}
.titre1{
    color: #fff;
}
.content-body .add-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-body .add-buttons button{
    margin-bottom: 40px;
    padding: 15px 50px;
    background-color: #6d338a;
    color: white;
    border: none;
    border-radius: 5px;
}
.discover{
    text-align: center;
    padding: 40px 0;
    background: hsl(259, 20%, 18%);
    color: #fff;
}
.discover h2,.discover h3{
    margin: 10px 0;
    color: #ffffff9c;
    padding-bottom: 20px;
}
.parts{
    margin: 60px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}
.parts i{
    margin-bottom:10px ;
    font-size: 40px;
}
/* End Card */
/* ************footer************ */
footer{
    padding:10px 60px;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: hsl(261, 29%, 12%);
    color: white;
    gap: 20px;
    /* padding: 0 50px; */
}
footer h2{
    color: #ffffff9c;
    margin-bottom: 20Px;
}
footer .meta p{
    padding: 15px 0;
}
footer .meta i{
    padding-right: 20px;
    
}
footer .exp a{
    /* text-decoration: none underline ; */
    color: rgb(228, 220, 220);
    margin: 4px 0;
    display: block;

} 
footer .contact span{
    margin-bottom:5px ;
}
footer .contact i{
    margin-right: 10px;
}
footer .contact div{
    margin: 9px 0;
}
footer .newslatter p{
    margin: 15px 0; 
    
}
footer .newslatter button{
    background-color: transparent;
}
footer .newslatter i{
    color: #6d338a;
}