*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#humb{
    color: white;
    position: fixed;
    top: 40px;
    right: 50px;
    display: none;
}
/* *************header******************** */
header .navigation-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 29, 46);
    height: 100px;
    z-index: 1001;
    padding-bottom: 10px;
}
header nav {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;

}
header nav ul {
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a {
    color: white;
    display: block;
    text-decoration: none;
    /* color: var(--second-color); */
    padding: 0px 40px;
    
}
header .navigation-bar a .logo {
    padding-left: 50px;
    height: 50px;
    width: 150px;
    margin: 20px 0;
    
    /* padding-top: 5px; */
}
/* **************header************** */
/* **************footer******* */
footer{
    padding:10px 60px;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: hsl(261, 29%, 12%);
    color: white;
    gap: 20px;
    /* padding: 0 50px; */
}
footer h2{
    color: #ffffff9c;
    margin-bottom: 20Px;
}
footer .meta p{
    padding: 15px 0;
}
footer .meta i{
    padding-right: 20px;
    
}
footer .exp a{
    /* text-decoration: none underline ; */
    color: rgb(228, 220, 220);
    margin: 4px 0;
    display: block;

} 
footer .contact span{
    margin-bottom:5px ;
}
footer .contact i{
    margin-right: 10px;
}
footer .contact div{
    margin: 9px 0;
}
footer .newslatter p{
    margin: 15px 0; 
    
}
footer .newslatter button{
    background-color: transparent;
}
footer .newslatter i{
    color: #6d338a;
}
/* **************footer******* */
/* *****container***** */

.container{
    /* height: 80vh; */
    background: hsl(259, 20%, 18%);
    padding-top: 100Px;
    /* display: flex; */
}
.container h1{
    text-align: center;
    color: white;
}
.cardcon{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 100px;
    justify-content: center;
    padding: 50px 0;
}
.card{
    width: 300px;
    height: 150px;
    background-color: hsl(261, 29%, 12%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.card div{
    display: flex;
    /* justify-content: space-between; */
    padding: 0 20px;
}
.card i{
    font-size: 25px;
    margin: 0 1px;
}
.total{
    font-size: 40px;
    text-align: center;
}
.card h2{
    text-align: start;
}
/* ***********card1********** */
.card1{
    background-color: #282c34;
    /* height: 380px; */
    width: 300px;
    border: 1px solid #ffffff22;
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 5px;
    margin: 10px 0;
}
.card1 .description{
    color: #a89ec9;
    font-size: 15px;
}
.card1 .nftimg{
    width: 280px;
    height: 250px;
    margin: 5px auto;
    display: block;
    border-radius: 5px;
}
.card1 .price,.card .duration{
    display: flex;
}
.card1 .duration{
    color: #a89ec9;
}
.card1 .price{
    justify-content: space-between;
    align-items: center;
    color: #ee83e5;
}
.card1 .info{
    padding: 0 10pX;
}
hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
    margin: 6px 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.card1 .name{
    color: #fff;
}
.card1:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.card1 .prc{
    margin-left: 10px;
    font-size: 20px;
}
.card1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: #1c2529;
    padding: 5px 8px;
    border-radius: 10px;
}
.card2{
    justify-content: flex-start;
    padding: 4px 0;
}
/* *****Responsive********* */
@media screen and (max-width : 946px) {
    
    footer{
        grid-template-columns: auto auto;
    }
    .cardcon{
        grid-template-columns: auto;
    }
}
@media screen and (max-width :690px) {
    #humb{
        display: block;
        z-index: 1000;
    }
    
    footer{
        grid-template-columns: auto;
    }
    
    header nav ul{
        /* display: none; */
        position: fixed;
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1c2529;
        z-index: 1000;
    }
    .links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .links a{
        margin: 10px 0;
    }
}
.show{
    right: 0;
}