*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#humb{
    color: white;
    position: fixed;
    top: 40px;
    right: 50px;
    display: none;
}
/* **************header************** */
header .navigation-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 29, 46);
    height: 100px;
    z-index: 1001;
    padding-bottom: 10px;
}
header nav {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;

}
header nav ul {
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a {
    color: white;
    display: block;
    text-decoration: none;
    /* color: var(--second-color); */
    padding: 0px 40px;
    
}
header .navigation-bar a .logo {
    padding-left: 50px;
    height: 50px;
    width: 150px;
    margin: 20px 0;
    
    /* padding-top: 5px; */
}
/* **************header************** */
.container{
    padding-top: 100px;
    height: calc(100vh - 10px);
    background: hsl(259, 20%, 18%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container_update{
    padding-top: 100px;
    background-color: hsl(259, 20%, 18%);
}
.formcontainer {
    
    padding: 30px 0;
}
.formcontainer form{
    margin:  auto ;
    line-height: 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 10px;
}
.formcontainer .box{
    background-color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 2px;
}
.formcontainer h3{
    text-align: center;
}
.formcontainer button{
    padding: 10px;
    color: white;
    background-color: rgb(104, 30, 82);
    outline: none;
    border: none;
    border-radius: 2px;
}
.formcontainer a{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(104, 30, 82, 0.884);
    outline: none;
    border: none;
    border-radius: 2px;
    text-decoration: none;
}
.msg1{
    background-color: hsl(261, 29%, 12%);
}
.msg{
    display: block;
    background-color: #eee;
    padding: 10px;
    /* margin-bottom: 20px; */
    text-align: center;
}
/* ******************footer************ */
footer{
    padding:10px 60px;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: hsl(261, 29%, 12%);
    color: white;
    gap: 20px;
    /* padding: 0 50px; */
}
footer h2{
    color: #ffffff9c;
    margin-bottom: 20Px;
}
footer .meta p{
    padding: 15px 0;
}
footer .meta i{
    padding-right: 20px;
    
}
footer .exp a{
    /* text-decoration: none underline ; */
    color: rgb(228, 220, 220);
    margin: 4px 0;
    display: block;

} 
footer .contact span{
    margin-bottom:5px ;
}
footer .contact i{
    margin-right: 10px;
}
footer .contact div{
    margin: 9px 0;
}
footer .newslatter p{
    margin: 15px 0; 
    
}
footer .newslatter button{
    background-color: transparent;
}
footer .newslatter i{
    color: #6d338a;
}
/* ******************footer************ */
/* 
 .nftedit{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: center;
    margin: 20px 0;
   
 }
 /* *****************************card************************ */
/* .card{
    background-color: #282c34;
    height: 400px;
    width: 300px;
    border: 1px solid #ffffff22;
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 5px;
    backdrop-filter: blur(7px); 
    transition: .3s;
}
.card .description{
    color: #a89ec9;
}
.card .nftimg{
    width: 280px;
    height: 250px;
    margin: 5px auto;
    display: block;
    border-radius: 5px;
}
.card .price,.card .duration{
    display: flex;
}
.card .duration{
    color: #a89ec9;
}
.card .price{
    justify-content: space-between;
    align-items: center;
    color: #ee83e5;
}
.card .info{
    padding: 0 10pX;
}
hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
    margin: 6px 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.card .name{
    color: #fff;
}
.card:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.card .prc{
    margin-left: 10px;
    font-size: 20px;
}
.card a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: #1c2529;
    padding: 5px 8px;
    border-radius: 10px;
}  */
/* ****************************** */
/* @media screen and (max-width : 530px) {
    .nftedit{
        overflow-x: scroll;
    }
} */
/* *******Respoinsive******** */
@media screen and (max-width :1166px) {
    footer{
        grid-template-columns: auto auto auto ;
        gap: 20px;
    }
    
}
@media screen and (max-width : 946px) {
    
    footer{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width :690px) {
    #humb{
        display: block;
        z-index: 1000;
    }
    
    footer{
        grid-template-columns: auto;
    }
    
    header nav ul{
        /* display: none; */
        position: fixed;
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1c2529;
        z-index: 1000;
    }
    .links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .links a{
        margin: 10px 0;
    }
}
.show{
    right: 0;
}